.playfair-display-all {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    background-color: transparent;
}
body{
    width:100%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

.componentHeader{
    padding:5%;
    padding-bottom: 2%;
    width:30%;
    background-color: white;
    border-bottom:0.5px solid rgba(0, 0, 0, 0.329);
}

/*
common stylings
*/

.font-bg{
    font-size: 25px;
}
.font-mid{
    font-size: 18px;
}
.font-sm{
    font-size:10px;
}
.containerMinHeight{
    min-height:100vh;
}

.pageHeadLine{
    text-align: center;
    font-size:20px;
    letter-spacing: 10px;
    padding-bottom: 2%;
}

.pageContainer{
    padding:4%;
    padding-top:5%;
    padding-bottom:20%;
}

.paragraphContent{
    font-size:14px;
}


#whatwedoAsCompany{
    background-color: #EBE9E1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:2%;
}

#about-us{
    min-height:60vh;
    height:auto;
    display: flex;
    justify-content: center;
    width:100%;
    align-items: center;
} 
.page-header{
    width: 100%;
    height: auto;
}


@media (max-width: 992px) {
    .font-sm{
        font-size: 6px;
    }
    .font-mid {
        font-size: 12px;
    }

    .font-bg{
        font-size: 18px;
    }

    .componentHeader{
        width:50%;
        font-size:8px;
    }
    .containerMinHeight {
            min-height: 80vh;
        }
    .paragraphContent {
            font-size: 7px;
    }
    #about-us {
        min-height: 40vh;
    }
}
