#blogsContainerInner{
    box-sizing: border-box;
    background-color:#FFFDEC
}

.slider{
    padding:5px;
    padding-top:0;
    padding-bottom: 0;
    top: 40vh;
    color:rgba(0, 0, 0, 0.233);
    font-size:30px;
    background-color: rgba(255, 255, 255, 0.212);
    cursor: pointer;
    border:0.03px solid rgba(0, 0, 0, 0.185);
    border-radius: 50%;
}

#leftSlider{
    position: relative;
    left:2%;
}

#rightSlider {
    position: relative;
    top: 40vh;
    left: 92%;
}

.slidContents{
    box-sizing: border-box;
    position: relative;
    left:7%;
    top:0vh;
    height: 80vh;
    width:80%;
}
.slideImage{
    background-color: white;
    height:auto;
    min-height: 60vh;
    width:70%;
    position:relative;
    top:10vh;
    left:20%;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    -webkit-box-shadow: 20px 21px 26px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 20px 21px 26px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 20px 21px 26px -8px rgba(0, 0, 0, 0.75);    display: grid;
    grid-template-rows: 88% 12%;
    box-sizing: border-box;
}

.blogSampleImage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 10px 10px 0px 0px;
        -webkit-border-radius: 10px 10px 0px 0px;
        -moz-border-radius: 10px 10px 0px 0px;
}

.viewMoreBar{
    background-color: #161515ec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
        -webkit-border-radius: 0px 0px 10px 10px;
        -moz-border-radius: 0px 0px 10px 10px;
}

.viewMoreBar a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;    
}

@keyframes slideFromRight {
    from{
        left:60%;
    }

    to{
        left:20%;
    }
}

@keyframes slideFromLeft {
    from {
        left: -100px;
    }

    to{
        left:20%;
    }
}


@media (max-width:800px) {
    #rightSlider{
        left:80%;
    }

    .slider{
        font-size:30px;
    }
    .slidContents{
        top:5vh;
        left:15%;
        height: 60vh;
        width:70%;
    }

    .slideImage{
        width:80%;
        left:10%;
        min-height:40vh;
    }

    @keyframes slideFromRight {
        from {
            left: 60%;
        }

        to {
            left: 10%;
        }
    }

    @keyframes slideFromLeft {
        from {
            left: -100px;
        }

        to {
            left: 10%;
        }
    }
}
