
<div class="ml-3 whatwedoheader">
        <div class="w-100 p3 text-center pageHeadLine">WHAT WE DO!</div>
        <p class="w-100 p-2 fs-10" id="whatwedoDesctiption">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus delectus neque cupiditate odio numquam unde, eligendi perspiciatis minus error, enim ab. Mollitia et doloribus dolorum, sunt voluptatem ab eum laboriosam.
         Architecto neque perspiciatis recusandae tenetur qui, numquam in sunt, eius accusantium nostrum corrupti laborum. Itaque officia, reprehenderit quasi quibusdam tenetur odio adipisci veniam veritatis officiis voluptate ut dolores beatae aperiam?
        </p>
</div>

    <div class="aboutDevelopments">
        <div class="card border-0">
            <div class="card-title componentHeader">ANDROID DEVELOPMENT -></div>
            <div class="card-body descriptionOnDevs">
                <div class="card-text font-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi magnam vitae sapiente quas aut, numquam quasi sunt. Aspernatur hic voluptas dignissimos natus, minus esse blanditiis unde enim animi doloribus incidunt!
                Nesciunt tempora eligendi dolor ex inventore laborum, praesentium, ullam, adipisci iusto quos consequuntur possimus accusamus distinctio ducimus. Delectus iste temporibus esse, ea sit nam ratione veniam numquam vel pariatur qui!
                Amet quibusdam blanditiis a assumenda quam culpa molestias enim ipsum, soluta atque, aperiam quo recusandae? Mollitia, ratione minus, aut deleniti quod sapiente facere sunt sit in sed ut nam excepturi!
                Obcaecati dolorum labore asperiores harum magnam adipisci repudiandae, officia consequuntur ipsum! Explicabo dolore distinctio consectetur doloribus ea placeat magnam, minus ipsa pariatur consequuntur quasi, quaerat ut molestiae molestias delectus? Provident.
                Adipisci aspernatur tempora numquam et ratione iusto dolor possimus voluptatum? Eveniet voluptates dicta impedit numquam, quisquam beatae maiores minima, consequuntur a placeat tempore eaque architecto. Est placeat tenetur voluptates repellendus. </div>
                
                <div><img src="statics/androidDev.jpg" class="w-100">
                    </div>
            </div>
        </div>
    </div>
    <div class="aboutDevelopments">
        <div class="card border-0">
            <div class="card-title componentHeader">WEB DEVELOPMENT</div>
            <div class="card-body descriptionOnDevs">
                <div >
                    <img class="w-100" src="statics/webDev.webp">
                </div>
                <div class="card-text font-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, non ipsum quis sapiente, sit praesentium excepturi distinctio amet esse qui ut perferendis assumenda saepe impedit ipsa officiis. Sapiente, rerum impedit!
                Obcaecati doloribus, delectus consectetur nihil facere iure assumenda fugiat recusandae aperiam minima quas dignissimos hic alias odit. Iste natus harum saepe aut ducimus, quis eaque atque et error illo nam?
                Mollitia quibusdam dolore voluptatem asperiores voluptates ea officia non animi temporibus libero quaerat quos ex veniam exercitationem eos in quae cupiditate quisquam blanditiis, iusto excepturi? Minus aliquam consequatur necessitatibus pariatur?
                Sed consequuntur amet ipsa aperiam, quaerat earum illum iure! Necessitatibus natus beatae doloremque quo quae similique vero soluta ut labore nesciunt nobis neque quisquam, blanditiis repellat consectetur maxime nam quis?
                Cupiditate numquam temporibus exercitationem et animi error? Voluptatibus molestiae eius sed tempore laborum optio vero asperiores reprehenderit perspiciatis pariatur adipisci sit commodi inventore, praesentium repudiandae nihil deleniti eum magni iure?
                </div>
            </div>
        </div>
    </div>