
<div class="ml-3">
        <div>#WHAT WE DO</div>
        <p class="w-100">
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus delectus neque cupiditate odio numquam unde, eligendi perspiciatis minus error, enim ab. Mollitia et doloribus dolorum, sunt voluptatem ab eum laboriosam.
         Architecto neque perspiciatis recusandae tenetur qui, numquam in sunt, eius accusantium nostrum corrupti laborum. Itaque officia, reprehenderit quasi quibusdam tenetur odio adipisci veniam veritatis officiis voluptate ut dolores beatae aperiam?
        </p>
</div>
<div class="aboutDevelopments">
    <div class="card p-3">
        <div class="card-title bg-info p-3">ANDROID DEVELOPMENT</div>
        <div class="card-body descriptionOnDevs">
            <div class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi fugiat praesentium, maiores laudantium rem laborum voluptas sit consequuntur adipisci enim, asperiores, expedita magnam pariatur beatae ipsam ullam voluptate provident doloribus.
            Obcaecati consequatur officia natus architecto nisi ullam ipsa sit. Iure dignissimos aut quos rerum harum modi laudantium porro nulla animi. Dolor quam doloribus possimus! Incidunt vitae inventore reiciendis reprehenderit sed?
            Quo ipsam sunt facilis similique quidem inventore? Culpa ipsam sapiente aut assumenda. Aut aspernatur incidunt aperiam tempora sed, est quis deserunt placeat hic tempore ratione corrupti, eum maxime nam! Iure.</div>
            
            <div><img src="../../statics/development-4536630_640.webp" class="w-100">
                </div>
        </div>
    </div>
</div>
<div class="aboutDevelopments">
    <div class="card p-3 mt-5">
        <div class="card-title bg-info p-3">WEB DEVELOPMENT</div>
        <div class="card-body descriptionOnDevs">
            <div >
                <img class="w-100" src="../../statics/c3062be87d875fc0fde742c8143b038e.jpg">
            </div>
            <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi fugiat praesentium,
                maiores laudantium rem laborum voluptas sit consequuntur adipisci enim, asperiores, expedita magnam pariatur
                beatae ipsam ullam voluptate provident doloribus.
                Obcaecati consequatur officia natus architecto nisi ullam ipsa sit. Iure dignissimos aut quos rerum harum
                modi laudantium porro nulla animi. Dolor quam doloribus possimus! Incidunt vitae inventore reiciendis
                reprehenderit sed?
                Quo ipsam sunt facilis similique quidem inventore? Culpa ipsam sapiente aut assumenda. Aut aspernatur
                incidunt aperiam tempora sed, est quis deserunt placeat hic tempore ratione corrupti, eum maxime nam! Iure.
            </div>
        </div>
    </div>
</div>