.descriptionOnDevs {
    display: flex;
    justify-content: space-around;
}
#whatwedoDesctiption{
    font-size:8px;
}

.descriptionOnDevs div {
    width: 45%;
}
.aboutDevelopments{
    width:50%;
    font-size:8px;
}

.aboutDevelopments img{
    height:25vh;
    width: 70%;
}

@media (max-width: 600px) {

    .aboutDevelopments {
        width:80%;
        font-size: 10px;
    }

    .descriptionOnDevs {
        flex-direction: column-reverse;
    }

    .descriptionOnDevs div {
        width: 90%;
        height: 50%;
    }
}