<div class="w-100 blogsContainer">
    <div class="blogsHeader fs-5">Blog</div>
    <div class="blogContent">
        <div id="contentPage1" class="contentPage">
            <div class="service">
                <div class="">Soon....</div>
                <img class=""></img>
            </div>
            <div class="service">
                <div class="">Soon....</div>
                <img class=""></img>
            </div>
        </div>
        <div id="contentPage2" class="contentPage">
            <div class=" service">
                <div class="">Soon....</div>
                <img class=""></img>
            </div>
            <div class="service">
                <div class="">Soon....</div>
                <img class=""></img>
            </div>
        </div>
    </div>
</div>