.howweworkContainer {
    background-color: #88BDBC;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hwwContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 30vh;
    color: #25274D;
    border-radius: 10px;
    background-color: #DEF2F1;
}

.hwwContainer div:nth-child(1){
    width:20%;
}

.hwwContainer div:nth-child(2){
    width:50%;
}

.hwwContainer img{
    width:80%;
    height:10vh;
}

.howweworkContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.howweworkHeader,
.howweworkContent {
    background-color: transparent;
}

.ourServicesContent,
.hwwcontentPage {
    display: flex;
}

.hwwcontentPage {
    margin: 2%;
    width: 100%;
    justify-content: space-around;
}

.howweworkHeader {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media (max-width:992px) {
    .howweworkContainer {
        min-height: 50vh;
        height: auto;
        padding: 4%;
    }

    .hwwContainer {
        font-size: 14px;
        width: 40%;
        height: 40vh;
        border-radius: 10px;
    }
}

@media (max-width:662px) {
    .howweworkContainer {
        min-height: 40vh;
        height: auto;
    }

    .hwwContainer {
        font-size: 10px;
        width: 40%;
        height: 20vh;
        border-radius: 10px;
    }
}