<div class="w-100 howweworkContainer">
    <div class="howweworkHeader pageHeadLine">HOW WE WORK</div>
    <div class="howweworkContent">
        <div id="hwwcontentPage1" class="hwwcontentPage">
            <div class="hwwContainer">
                <div>Customers First</div>
                <div class="hwwImageContainer"><img src="statics/customer_img-removebg-preview.png"></div>
            </div>
            <div class="hwwContainer">
                <div>Listen then talk</div>
                <div class="hwwImageContainer"><img src="statics/listen_img-removebg-preview.png"></div>
            </div>
        </div>
        <div id="contentPage2" class="hwwcontentPage">
            <div class=" hwwContainer">
                <div>Learn from failure</div>
                <div class="hwwImageContainer"><img src="statics/learn_img-removebg-preview.png"></div>
            </div>
            <div class="hwwContainer">
                <div>Keep it real</div>
                <div class="hwwImageContainer"><img src="statics/real_img-removebg-preview.png"></div>
            </div>
        </div>
    </div>
</div>