<div class="pageContainer contactUsCotainer">
    <div class="contactUsContainer">
        <div class="fs-4 border-bottom my-3">Contact Us</div>
        <div class="my-3 fs-1"><b>Drop us a line</b></div>
        <div>Fill out this form and we'll hop stright to it</div>
        <div class="fs-3 my-3 border-bottom"><b>Looking for Support ?</b></div>
        <div class="my-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut odit asperiores laudantium illo dignissimos quis voluptas similique aspernatur, ipsum dolorem provident dolore obcaecati, iure tempora iste iusto aliquid. Quo, et!</div>
        <div class="my-3 fs-3 border-bottom"><b>Support Email</b></div>
        <div class="font-mid">kinwits@gmail.com</div>
    </div>
    <div class="sendMessageContainer">
        <table>
            <th>
                <tr >
                    <td colspan="2">
                        Send us a Message!
                    </td>
                </tr>
            </th>
           <tbody>
            <tr>
                <td>
                    First Name
                </td>
                <td>
                    Last Name
                </td>
            </tr>
            <tr>
                <td>
                    <input class="inputs" placeholder="first name">
                </td>
                <td>
                    <input class="inputs" placeholder="last name">
                </td>
            </tr>
            <tr>
                <td>
                    Email ?
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="inputs" placeholder="email">
                </td>
            </tr>
            <tr>
                <td colspan="2">How can I help you ?</td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea></textarea>
                </td>
            </tr>
            <br>
            <tr>
                <td colspan="2">
                    <button class="sendMessage">Send Message</button>
                </td>
            </tr>
           </tbody>
        </table>
    </div>
</div>