<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid my-1 mx-1">
        <a class="navbar-brand w-75 " href="#">KinovaTech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#page-links"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-25" id="page-links">
            <div class="d-flex justify-content-around w-100 ps-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#about-us">Who we are</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#whatwedoAsCompany">What we do?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Contact-us</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</nav>