<div class="w-100 ourServicesContainer">
    <div class="ourServicesHeader">Our Services</div>
    <div class="ourServicesContent">
        <div id="contentPage1" class="contentPage">
            <div class="card service">
                <div class="card-text">Soon....</div>
                <img class="card-img"></img>
            </div>
            <div class="card service">
                <div class="card-text">Soon....</div>
                <img class="card-img"></img>
            </div>
        </div>
        <div id="contentPage2" class="contentPage">
            <div class="card service">
                <div class="card-text">Soon....</div>
                <img class="card-img"></img>
            </div>
            <div class="card service">
                <div class="card-text">Soon....</div>
                <img class="card-img"></img>
            </div>
        </div>
    </div>
</div>