.ourServicesContainer{
background-color: #CDC1FF;
height: 60vh;
display: flex;
flex-direction: column;
justify-content: center;
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40%;
    height:40vh;
    color:white;
    border-radius: 10px;
    background-color: rgba(168, 168, 168, 0.603);
}
.ourServicesContent{
    width:100%;
}

.ourServicesHeader, .ourServicesContent{
    background-color: transparent;
}

.ourServicesContent, .contentPage{
    display: flex;
}
.contentPage{
    width:50%;
    justify-content: space-around;
}

.ourServicesHeader{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media (max-width:992px) {
    .ourServicesContainer{
        height:30vh;
    }
    .service {
            font-size: 10px;
            width: 40%;
            height: 10vh;
            color: white;
            border-radius: 10px;
            background-color: rgba(168, 168, 168, 0.603);
        }
}