<div class="howweworkContainer pageContainer">
    <div class="pageHeadLine">How we work</div>
    <div class="howweworkContent">
        <div class="howweworkslides">
            <img src="statics/customer_img-removebg-preview.png">
            <div class="hwwcontentdetailContainer">
                <div class="hwwContentHeader">Heading-4</div>
                <div class="hwwcontentdetail font-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
                    dignissimos voluptas laboriosam a, deleniti molestiae, temporibus repudiandae, id at commodi saepe. Consequatur
                    repellat blanditiis, assumenda vero dolorem natus pariatur hic!</div>
            </div>
        </div>
        <div class="howweworkslides">
            <img src="statics/customer_img-removebg-preview.png">
            <div class="hwwcontentdetailContainer">
                <div class="hwwContentHeader font-mid">Heading-4</div>
                <div class="hwwcontentdetail font-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
                    dignissimos voluptas laboriosam a, deleniti molestiae, temporibus repudiandae, id at commodi saepe. Consequatur
                    repellat blanditiis, assumenda vero dolorem natus pariatur hic!</div>
            </div>
        </div>
        <div class="howweworkslides">
            <img src="statics/customer_img-removebg-preview.png">
            <div class="hwwcontentdetailContainer">
                <div class="hwwContentHeader font-mid">Heading-4</div>
                <div class="hwwcontentdetail font-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
                    dignissimos voluptas laboriosam a, deleniti molestiae, temporibus repudiandae, id at commodi saepe. Consequatur
                    repellat blanditiis, assumenda vero dolorem natus pariatur hic!</div>
            </div>
        </div>
        <div class="howweworkslides">
            <img src="statics/customer_img-removebg-preview.png">
            <div class="hwwcontentdetailContainer">
                <div class="hwwContentHeader font-mid">Heading-4</div>
                <div class="hwwcontentdetail font-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur dignissimos voluptas laboriosam a, deleniti molestiae, temporibus repudiandae, id at commodi saepe. Consequatur repellat blanditiis, assumenda vero dolorem natus pariatur hic!</div>
            </div>
        </div>
    </div>
</div>