<div class="howweworkContainer pageContainer">
    <div class="pageHeadLine">How we work</div>
    <div class="howweworkContent">
       <div class="hwwslides">
        <div class="howweworkitems">
            <img src="statics/customer_img-removebg-preview.png">
            <div class="hwwcontentdetailContainer">
                <div class="hwwContentHeader fs-3">Heading-4</div>
                <div class="hwwcontentdetail font-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
                    dignissimos voluptas laboriosam a, deleniti molestiae, temporibus repudiandae, id at commodi saepe.
                    Consequatur
                    repellat blanditiis, assumenda vero dolorem natus pariatur hic!</div>
            </div>
        </div>
        <div class="howweworkitems">
            <img src="statics/customer_img-removebg-preview.png">
            <div class="hwwcontentdetailContainer">
                <div class="hwwContentHeader  fs-2">Heading-4</div>
                <div class="hwwcontentdetail font-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
                    dignissimos voluptas laboriosam a, deleniti molestiae, temporibus repudiandae, id at commodi saepe.
                    Consequatur
                    repellat blanditiis, assumenda vero dolorem natus pariatur hic!</div>
            </div>
        </div>
       </div>
        <div class="hwwslides">
            <div class="howweworkitems">
                <img src="statics/customer_img-removebg-preview.png">
                <div class="hwwcontentdetailContainer">
                    <div class="hwwContentHeader  fs-2">Heading-4</div>
                    <div class="hwwcontentdetail font-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. In neque animi reiciendis quam? Tempora omnis, quibusdam vero laboriosam laudantium at neque animi molestiae inventore nihil id, officiis libero assumenda mollitia?
                    Earum, eum? Amet nam neque itaque velit qui recusandae, eaque corporis, commodi praesentium temporibus exercitationem, impedit odit aperiam cupiditate. Perferendis officia vero aspernatur saepe quaerat alias nostrum modi, autem tempore?
                    Illo cum ullam distinctio itaque voluptas modi, consequuntur commodi, ducimus ab, laborum non. Provident inventore iste quibusdam eveniet quis a quaerat dolores earum odio. Amet maiores magnam voluptatem necessitatibus mollitia.</div>
                </div>
            </div>
            <div class="howweworkitems">
                <img src="statics/customer_img-removebg-preview.png">
                <div class="hwwcontentdetailContainer">
                    <div class="hwwContentHeader fs-2">Heading-4</div>
                    <div class="hwwcontentdetail font-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, aliquid atque. Fugit fugiat dolorum, recusandae odio illum laboriosam delectus sapiente quas quae fuga officia! Laboriosam corporis voluptatibus eum illum inventore!
                    Repellendus explicabo rem quo doloremque, sequi delectus consequatur sint est labore, quia reprehenderit nihil quos tempore asperiores pariatur ullam ipsam maiores rerum ratione consequuntur atque corrupti, voluptates assumenda! Quidem, id.
                    Sunt dolor, exercitationem, inventore tempore ducimus dicta necessitatibus nisi minima, quidem libero iusto? Quidem, omnis itaque obcaecati vero magnam, ipsa officia aut reprehenderit fugit harum qui quis repudiandae, eveniet dolorum.</div>
                </div>
            </div>
        </div>
    </div>
</div>