<div class="my-3 mx-3" id="aboutUs">
    <div>#ABOUT US</div>
        <p class="card-text">
           Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore pariatur odit repellat, aut ad ut laudantium ullam. Assumenda, ipsum labore? Illum sequi rem distinctio sint quo repudiandae voluptatum nesciunt recusandae!
           Eveniet officia, ratione dolor asperiores minus explicabo autem corrupti beatae vero. Omnis dicta perspiciatis suscipit a iure id, architecto esse nisi, explicabo similique nulla sapiente accusamus dolorem quod libero corporis.
           Illum nobis officia porro quae molestias voluptate eveniet tempora sit ex dolor asperiores, velit veritatis quidem, et atque corrupti, consectetur praesentium tempore facere doloremque quisquam? Animi dolor eos nobis nam!
        </p>
</div>
<div class="">
    <img class="img-fluid" src="../../statics/commonMainPage.png">
</div>