#aboutUsContainer{
    font-size:14px;
    padding:2%;
    display: flex;
    justify-content: space-around;
    min-height:40vh;
    height:auto;
}
.aboutusHeader{
    height: 30vh;
    font-size: 35px;
}
.aboutUsText{
    height: auto;
    width:60%;
}
@media (max-width:992px){

    .aboutusHeader {
            font-size: 16px;
            width:20%;
    }
    
    #aboutUsContainer {
            font-size:8px;
            align-items: center;
            min-height: 20vh;
            height: auto;
            padding: 4%;
        }
    .aboutUsText{
        justify-content: start;
        width:70%;
        padding-top:0;
        height:auto;
    }
}
