#aboutUsContainer{
    display: flex;
    justify-content: space-around;
    height:40vh;
}
.aboutusHeader{
    height: 30vh;
    font-size: 40px;
}
.aboutUsText{
    height: auto;
    width:40%;
}
/* #aboutUsContainer div{
    width: 40%;
    height: 80%;
} */

@media (max-width:992px){

    .aboutusHeader {
            height: 30vh;
            font-size: 20px;
    }
    
    #aboutUsContainer {
            align-items: center;
            height:40vh;
            padding: 2%;
        }
    #aboutUsContainer div{
        width:40%;
    }
}
