<div class="footerContainer">
    <div class="footerHeader text-center">Want to know more about us ?</div>
    <div class="footerContent">
        <div class="footerBrand footerRow">
            <a href="#" class="fs-6 mb-2">KinovaTech</a>
            <div>Navigate</div>
        </div> 
        <div class="footerDetails footerRow">
            <div>
                <div class="footerAboutCompany w-100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto iste soluta voluptas
                    harum. Molestias veniam minima dolorum commodi ullam perspiciatis consequuntur, earum consectetur voluptatum dolor
                    dolorem laborum aliquam corrupti quos!</div>
                <div class="w-100">Privacy Policy<br>@2024 by KinovaTech</div>
            </div>
            <div>
                <a href="#aboutUsContainer">About us</a><br>
                <a href="#ourservices">Our Products</a>
                <p class="w-100">Contact us @ support@kinovatech.com</p>
            </div>
        </div>
    </div>
</div>