<div class="footerContainer">
    <div class="footerHeader">Want to know more about us ?</div>
    <div class="footerContent">
        <div class="footerBrand">
            <a href="#">KinovaTech</a>
            <div class="footerAboutCompany">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto iste soluta voluptas harum. Molestias veniam minima dolorum commodi ullam perspiciatis consequuntur, earum consectetur voluptatum dolor dolorem laborum aliquam corrupti quos!</div>
        </div>
        <div class="footerDetails">
            <a href="#aboutUsContainer">About us</a>
            <a href="#ourservices">Our Products</a>
        </div>
    </div>
</div>