<div class="footerContainer">
    <div class="footerHeader text-center">Want to know more about us ?</div>
    <div class="footerContent">
        <div class="footerBrand footerRow">
            <a href="#" class="fs-6 mb-2">KinovaTech</a>
            <div>Navigate</div>
        </div> 
        <div class="footerDetails footerRow">
            <div>
                <div class="footerAboutCompany w-100 font-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto iste soluta voluptas
                    harum. Molestias veniam minima dolorum commodi ullam perspiciatis consequuntur, earum consectetur voluptatum dolor
                    dolorem laborum aliquam corrupti quos!</div>
                <div class="w-100 font-sm">Privacy Policy<br>@2024 by KinovaTech</div>
            </div>
            <div>
                <a href="#aboutUsContainer" class="font-sm">About us</a><br>
                <a href="#blogs" class="font-sm">Blogs</a>
                <br>
                <a href="#whatwedo" class="font-sm">What we do</a>
                <p class="w-100 font-sm" style="margin-top:10%;">Contact us @ support@kinovatech.com</p>
            </div>
            
        </div>
    </div>
</div>